{% extends "base.html" %}

{% block title %}Categorías - Tienda{% endblock %}

{% block content %}
<div class="row">
    {% include "partials/sidebar.html" %}

    <section class="col-md-9">
        <h2 id="titulo-busqueda" class="mb-4">Productos destacados</h2>

        <div id="contenido-dinamico">
        
        <div class="product-grid">
            {% for p in productos %}
            {% include "partials/product-card.html" %}
            {% endfor %}
        </div>

        <h2 class="mb-4 mt-5">Productos rebajados</h2>
        <div class="product-grid">
            {% for p in productosRebajados %}
            {% include "partials/product-card.html" %}
            {% endfor %}
        </div>
        </div>
    </section>
</div>
{% endblock %}